/*==========================SECAO DE TAGS========================== */

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(27, 24, 51);
    color: rgb(242, 159, 88)
}
ul {
    list-style-type: disc;
}
h1 {
    font-size: 15pt;
}
hr {
    width: 15%; /* aqui definimos uma janela de exibição responsiva de 15%*/
    border-style: none; /* aqui definimos que os atributos das bordas são nulos*/
    border-top: dotted; /*aqui a parte superior adota o stylo dotted */ 
    color: rgb(171, 68, 89);/* recebe uma cor vermelha */
    border-width: 15px;/*a borda tem um tamanho de 15px */
}

table {
    border-spacing: 15px;
}
img {
    height: 200px;
    width: 300px;
}
/*==========================SECAO DE CLASSES========================== */

.section-title {
    font-size: 15pt;
    font-weight: bold;
}
.subtext {
    font-size: 13pt;
    font-weight: bold;
}
.custom-font {
    font-family: "Playfair Display", serif;
    font-weight: 400;
}